---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container">
	<h3>PROJECTS AND EXPERIENCE</h3>
	<div>
		Div for NGP VAN
	</div>
	<div>
		Div for Telescope software
	</div>
	<div>
		Div for Bechdel test project
	</div>
</div>

<style>
</style>
